In [1]:
# The sum of two numbers

num1 = 34

num2 = 34

sum = num1 + num2

print("The sum of {0} and {1} is {2}".format(num1,num2,sum))

The sum of 34 and 34 is 68

In [2]:
# The substraction  of two numbers 

num1 = 50

num2 = 25

sub = num1 - num2

print('The sub of {0} and {1} is {2}'. format(num1,num2,sub))

The sub of 50 and 25 is 25

In [3]:
# The multiplication of twwo numbers

num1 = 9

num2 = 3

mul = num1 * num2

print('The mul of {0} and {1} is {2}'. format(num1,num2,mul))

The mul of 9 and 3 is 27

In [9]:
# The division of two numbers 

num1 = 25

num2 = 5

div = num1 // num2 
print('The div of {0} and {1} is {2}'. format(num1,num2,div))

The div of 25 and 5 is 5

In [10]:
l1=[1,2,3,4,5,6]
for X in l1:
    print(X)

1
2
3
4
5
6

In [11]:
# The sub of two numbers


num1 = 50

num2 = 30

sub = num1 ^ num2

print('The sub of {0} and {1} is {2}'. format(num1,num2,sub))

The sub of 50 and 30 is 44

In [12]:
# Area of rectangle

len=float(input('enter length :'))
br=float(input('enter breadth'))

A=len*br
print('Area of the rectangle =',A)

enter length :7
enter breadth8
Area of the rectangle = 56.0

In [1]:
# The sum of two numbers

num1 = float(input('Enter first number:'))
num2 = float(input('Enter second number:'))

sum = num1 + num2
print('Sum of two numbers =',sum)

Enter first number:7
Enter second number:7
Sum of two numbers = 14.0

In [2]:
# The sub of two numbers

num1 = float(input('Enter first number:'))
num2 = float(input('Enter second number:'))
sub = num1 - num2
print('sub of two numbers =',sub)

Enter first number:59
Enter second number:45
sub of two numbers = 14.0

In [5]:
# The mul of two numbers

num1 = float(input('Enter first number:'))
num2 = float(input('Enter second number:'))

mul = num1*num2
print('mul of two numbers =',mul)

Enter first number:36
Enter second number:76
mul of two numbers = 2736.0

In [7]:
# The div of two numbers 
num1 = float(input('Enter first number:'))
num2 = float(input('Enter second number:'))
div = num1// num2
print('div of two numbers =',div)

Enter first number:78
Enter second number:5
div of two numbers = 15.0

In [8]:
print("Mohith Reddy Chada")

Mohith Reddy Chada

In [9]:
# The area of the rectangle

len= float(input('Enter first number:'))
br = float(input('Enter second number:'))
A= len*br
print('Area of rectangle=',A)

Enter first number:12
Enter second number:32
Area of rectangle= 384.0

In [1]:
# convert celsius to fahrenhett

c = input('celcius:')
f = float(c)*(9/5)+32
print(f)

celcius:25
77.0

In [2]:
# Area of circle
import math
r = input("radius:")
a = math.pi*(float(r)**2)
print(a)

radius:7
153.93804002589985

In [4]:
# "Name**is**james"
a = "Names"
b = "Is"
c = "James"
print(a + "**" + b + "**" + c)

Names**Is**James

In [1]:
# EVEN OR ODD

a = input("number:")
if int(a)%2==0:
    print("even")
else:
    print("odd")

number:55
odd

In [10]:
# C AND D INTERCHANGE

c = float(input("num1:"))
d = float(input("num2:"))


c = c+d
d = c-d
c = c-d

print("c is now:",c,"  d is now:",d)

num1:34
num2:34
c is now: 34.0   d is now: 34.0

In [4]:
n=input()
for i in n:
    if i == 'a' or 'e' or 'i' or 'o' or 'u':
        continue
        print(n)

python

In [3]:
name="Mohith"
print(len(name))
print(name.find("h"))

6
2

In [7]:
name = "Mohith Reddy"
First_name = name[:5]
Last_name = name[6:]
Funky_name = name[::2]
Reversed_name = name[::-1]

print(First_name)
print(Last_name)
print(Funky_name)
print(Reversed_name)

Mohit
 Reddy
Mht ed
yddeR htihoM

In [8]:
website = "http://google.com"
slice = slice(7,-4)
print(website[slice])

google

In [12]:
name = "Mohith"
print("Hello,my name is {}",format(name))
print("Hello,my name is {:10},nice to meet you".format(name))
print("Hello,my name is {:<10},nice to meet you".format(name))
print("Hello,my name is {:>10},nice to meet you".format(name))
print("Hello,my name is {:^10},nice to meet you".format(name))

Hello,my name is {} Mohith
Hello,my name is Mohith    ,nice to meet you
Hello,my name is Mohith    ,nice to meet you
Hello,my name is     Mohith,nice to meet you
Hello,my name is   Mohith  ,nice to meet you

In [13]:
str1 = "Welcome to Home!"
after_strip = str1.strip("")
print(after_strip)

Welcome to Home!

In [2]:
str1 = "Welcome to Home!"
after_strip = str1.strip("W")
print(after_strip)

elcome to Home!

In [5]:
x="Hello world"
print("Hello world")

Hello world

In [6]:
x="mohith reddy"
print("mohith reddy")

mohith reddy

In [1]:
print("Mohith")

Mohith

In [2]:
print("Hello,world!")

Hello,world!